.nav_wrap{
    padding: 20px 5vw 20px 5vw;
    width: 90vw;
    position: fixed;
    top: 0;
    left: 0;
}

.header{
    position: relative;
    color: white;
    display: flex;
    justify-content: space-between;
}

.header_logo{
    width: 192px;
    height: 20px;
}

.menubar{
    display: flex;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0px;
    justify-content: space-between;
}

.menu_ul{
    display: flex;
    position: relative;
}

.menu_li{
    width: 130px;
    height: 50px;
}

.menu_name{  
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
    color: white;
}

.menu_login{
    position: relative;
    font-size: 16px;
    text-decoration: none;
    color: white;
}
.menu_login_text{
    position:absolute;
    top: 50%;
    left: 50%;
    padding: 5px;
    transform: translate(-50%,-50%);
    border: 1px solid white;
    
}