*{
  overflow: hidden;
}
#sign{
  margin: 200px  calc((100% - 448px) / 2);
  padding: 50px 0px;
  height: 400px;
  width: 448px;
  border: 1px solid silver;
}
form{
  text-align: center;
}

input{
  margin-top: 15px;
  width: 150px;
  height: 30px;
  border: 1px solid silver;
}
#RegistBtn{
  width: 230px;
}
#find{
  margin-top: 20px;
  text-align: center;
}
li{
  width: 110px;
  text-align: center;
  height: 30px;
  display:inline-flex;
}
li:nth-child(2n){
  border-left: 1px solid black;
  width: 6px;
}
a{  
  text-decoration: none;
  color: rgb(119, 118, 118);
}
img{
  width: 300px;
  height: 40px;
}
.icon{
  margin: 10px 74px;
  width: 300px;
  border-radius:5px;
  height: 40px;
  font: Roboto-Medium;
  size: 14px;
  color: #000000/0,0,0(54%);
}
.icon>img{
  height: 13.5px;
  width: 18px;
  float: left;
  margin-left: 6px;
  margin-right: 18px;
}